.red {
  background-color: red;
  color: white;
}
.green {
  background-color: green;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
.yellow {
  background-color: yellow;
}
.reminder {
  display: block;
  width: 100%;
}
