h1.monthName {
  text-align: center;
}

table.month {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: white;
  padding: 5px;
  border: 1px solid #bbb;
  margin: 5px;
}

table.month thead th {
  width: calc(100% / 7);
}

table.month tr {
  min-height: 50px;
}

table.month td {
  vertical-align: top;
  padding: 5px;
}
